body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.btn {
    display: inline-block;
    background-color: #cdd2da;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}
.btn:hover {
    background-color: #abb4c1;
}
.btn-primary {
    background-color: #4ec0e9;
}
.btn-primary:hover {
    background-color: #39a7cf;
}
.btn-success {
    background-color: #49cfae;
}
.btn-success:hover {
    background-color: #3eb094;
}
.btn-fancy {
    padding: 15px 35px 15px 35px;
    background-color: #e7ebee;
    color: #39383d;
    border-bottom: 4px solid #b7beca;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}
.btn-fancy:hover {
    background-color: #dddddd;
}
.btn-fancy-softgreen {
    /* background-color: #61c225; */
    background: linear-gradient(135deg, #84ce31, #3c8814);
    border-bottom: 4px solid green;
    color: white;
}
.btn-fancy-softgreen:hover {
    background: linear-gradient(135deg, #3c8814, #84ce31);
}
.btn-fancy-blue {
    /* background-color: #1b51ef; */
    background: linear-gradient(135deg,  #2c5ff9,  #0b34b0);
    border-bottom: 4px solid #142b90;
    color: white;
}
.btn-fancy-blue:hover {
    background: linear-gradient(135deg,  #0b34b0, #2c5ff9);
}
.btn-fancy-pink {
    background-color: #FD177F;
    color: #ffffff;
    border-bottom: 4px solid #a4164b;
}
.btn-fancy-pink:hover {
    background-color: #e1116e;
}
.btn-fancy-purple {
    background-color: #9223e4;
    color: #ffffff;
    border-bottom: 4px solid #641d88;
}
.btn-fancy-purple:hover {
    background-color: #8019ca;
}